*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
    background-color: antiquewhite;
    
}

h1 {
    text-align: center;
    color: rgb(14, 26, 100);
    font-size: 33px;
}

input{
    border-radius: 5px;
    background-color: rgb(253, 251, 248);
}

button{
    border-radius: 2px 0 2px red;
    outline: none;
    cursor: pointer;
}

h4{
    color: #63636381;
}

.center-button {
    display: block;
    margin: 0 auto;
  }